@font-face {
	font-family: SundayHotdog;
	src: url('./fonts/Sunday\ Hotdog.otf');
}

@font-face {
	font-family: SIMSUN;
	src: url('./fonts/SIMSUN.ttf');
}

@font-face {
	font-family: rainyhearts;
	src: url('./fonts/rainyhearts.ttf');
}

html, body {
	height: 100%;
	margin: 0;
	cursor: url("./cursors/hand_cursor.png"), auto;
	font-family: 'SundayHotdog', 'Brush Script MT, cursive';
	overflow: hidden;
}

p {
	margin: inherit;
	padding: inherit;
	display: inline-block;
}

#c {
	width: 100%;
	height: 100%;
	display: block;
}

.container {
	background-color: white;
	border: 2px solid black;
	border-radius: 10px;

	position: absolute;
	margin: auto;

	z-index: 1;
}

.close {
	position: absolute; 
	font-family: 'Courier New';
	font-size: 50px;
	bottom: 10px; 
	right: 20px;
	width: 30px;
	margin: 0;
	padding: 0;
	text-align: right;

	color: black;
	transition: color 0.1s;
}

.close:hover {
	color: red;
}

/* landing container setup */

.landing {
	width: 450px;
	height: 250px;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	padding: 40px;
}

.landingTitle {
	height: 60px;

	font-size: 45px;
	-webkit-text-stroke: 8px;	
	position: relative;
}

.landingText {
	font-size: 25px;
	margin: 10px 0px 0px 70px;
}

.landingContent {
	height: 28px;

	-webkit-text-stroke: 8px;	
	position: relative;

	display: inline-block;
	padding: 0px 0px 0px 5px;
	top: 5px;
}

.backgroundStrokeContainer {
	color: black;
	z-index: 1;
	position: absolute;
}

.animatedStrokeContainer {
	color: black;
	z-index: 1;
	position: absolute;
}

.animatedTextContainer {
	-webkit-text-stroke: 0;

	color: white;

	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: white;
	background-image: url("./images/rainbowgradient.png");
	background-size: cover;

	z-index: 2;
	position: absolute;
}

/* welcome */
.welcome {
	font-family: SimSun;
	font-size: 20px;

	width: 500px;

	padding: 25px 25px 40px 25px;
	display: none;
	opacity: 0;

	transition: opacity 0.5s ease-out, transform 0.5s ease-out; 
}

/* poppy popup */
.poppy {
	padding: 25px;
	display: none;
	opacity: 0;

	transition: opacity 0.5s ease-out, transform 0.5s ease-out; 
}

.question {
	font-family: rainyhearts;
	font-size: 30px;
	
	margin: 10px;
	padding: 10px;
	text-align: center;

	border-radius: 10px;
	background-color: lightpink;

	transform: rotateY(-5deg);
	transition: transform 0.3s;
}

.question:hover {
	transform: rotateY(5deg);
}

/* stream */
.stream {
	padding: 20px 20px 60px 20px;
	display: none;
	opacity: 0;

	transition: opacity 0.5s ease-out, transform 0.5s ease-out; 
}

/* projects container */
.projectFolder {
	font-family: 'SIMSUN';
	font-size: 20px;

	display: none;
	opacity: 0;

	transition: opacity 0.5s ease-out, transform 0.5s ease-out; 
}

.projectFolderContainer {
	max-width: 600px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 10px;
}

.projectEntry {
	width: 110px;
	margin: 10px;
	text-align: center;

	transform: scale(1);
	transition: transform 0.5s;
}

.projectEntry:hover {
	transform: scale(1.1);
}

.projectThumbnail {
	border-radius: 10px;
	object-position: center;
	object-fit: cover;
	width: 100px;
	height: 100px;
	margin: 5px;
}

/* project templates */
.projectImage {
	font-family: 'SIMSUN';
	font-size: 20px;
	padding: 20px 20px 63px 20px;

	display: none;
	opacity: 0;
	transition: opacity 0.5s ease-out, transform 0.5s ease-out; 
}

/* commissions container */

.commissions {
	font-family: 'Courier New';
	padding: 6px 30px;

	display: none;
	opacity: 0;

	transition: opacity 0.5s ease-out, transform 0.5s ease-out; 
}

.commTitle {
	font-size: 20px;
	margin: 11px 0px 4px 0px;
}

.formLink {
	color: white;
	text-align: center;
	font-size: 20px;

	border: none;
	background-color: rgb(255, 76, 59);
	border-radius: 13px;
	padding: 6px 13px;

	box-shadow: 0px 0px rgb(206, 21, 5);
	transform: translate(0px, 0px);

	transition: box-shadow 0.1s ease-out, transform 0.1s ease-out;
}

.formLink:hover {
	box-shadow: 5px 5px rgb(206, 21, 5);
	transform: translate(-5px, -5px);
}

.commRow {
	display: flex;
	align-items: center;
}

.commLabel {
	text-align: center;
	font-size: 20px;
}
 
.commSketchImage {
	border-radius: 10px;
	object-position: center;
	object-fit: cover;
	width: 100px;
	height: 250px;
	flex-grow: 1;
	margin: 5px;
}

.galleryContainer {
	position: relative;
	width: 500px;
	margin: 5px;
	flex-grow: 4;
}

.gallerySlide {
	display: none;
	border-radius: 10px;
	object-position: center;
	object-fit: cover;
	width: 100%;
	height: 250px;
}

.prev,
.next {
	top: 55%;
	position: absolute;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
  
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* landing animations uvu */
.animatedContainer:hover .animatedTextContainer {
	/* animation: textColorAnimation 0.2s linear forwards; */
}

@keyframes textColorAnimation {
	0% {-webkit-text-fill-color: white;}
	100% {-webkit-text-fill-color: transparent;}
}

.animatedContainer:hover .one {
	animation: linkHoverStart 0.1s linear, 
	linkHover 1s ease-in-out 0.1s infinite;
}

.animatedContainer:hover .two {
	animation: linkHoverStart 0.1s linear, 
	linkWait 0.25s linear 0.1s,
	linkHover 1s ease-in-out 0.35s infinite;
}

.animatedContainer:hover .three {
	animation: linkHoverStart 0.1s linear, 
	linkWait 0.5s linear 0.1s,
	linkHover 1s ease-in-out 0.6s infinite;
}

.animatedContainer:hover .four {
	animation: linkHoverStart 0.1s linear, 
	linkWait 0.75s linear 0.1s,
	linkHover 1s ease-in-out 0.85s infinite;
}

@keyframes linkHoverStart {
	0% {transform: translate(0px, 0px);}
	100% {transform: translate(0px, -2px);}
}

@keyframes linkHover {
	0% {transform: translate(0px, -2px);}
	50% {transform: translate(0px, -5px);}
	100% {transform: translate(0px, -2px);}
}

@keyframes linkWait {
	0% {transform: translate(0px, -2px);}
	100% {transform: translate(0px, -2px);}
}